# 1. Basic

In [3]:
# Run this cell
import math

## 1.1 Number and Operator

Use below cell to calculate these expressions:

$$ a = 1 + \sqrt{2}$$

$$ b = \sin(0.7) + \cos(0.2)$$

$$ c = \frac{1}{5} + 3i$$

Hint: you can use `math.sqrt()` method to calculate the square root of a number, and `complex()` method to create a complex number

In [ ]:
a = ...
b = ...
c = ...
print(a, b, c)

## 1.2. String

Given two strings:

`str1 = "Hello World, "`

`str2 = "Python!"`

Replace "..." in below cells to do the following requirements.

In [5]:
# Run this cell without modifying anything
str1 = "Hello World, "
str2 = "Python!"

**Use `str1` and `str2` to make a string: "Hello World, my name is Python!"**

In [ ]:
# TO DO
str3 = ... + ... + ...
str3

**Use slicing trick to get string "Hello" from `str1`**

In [ ]:
# TO DO
str4 = str1[...]
str4

**Change the word "Python" in `str3` to your name using `replace()` method**

In [ ]:
# TO DO
str4 = str3.replace(...)
str4

## 1.3. Array

Create a **list** `fruits` with 4 elements: `"apple"`, `"banana"`, `"coconut"`, `"mango"`

In [ ]:
fruits = ...
fruits

Check length of created list to make sure it has exactly 4 elements using `len()` method

In [ ]:
...

Add 1 more fruit to list: `"papaya"` using `append()` method

In [ ]:
...
fruits

Remove element `"coconut"` using `remove()` method

Change the second element to `"lemon"`

In [ ]:
fruits[...] = ...
fruits

So, you see that **list** can change the values of element itself. But **tuple** cannot. Try it...

In [ ]:
# Run this cell without modifying anything
my_tuple = ("1", "2", "4")
my_tuple[0] = 3

The cell above will raise an error because a tuple is an immutable type, signifying that the value of a tuple cannot be altered once it is declared.

## 1.4. Dictionary

- Create a dictionary contain the information of a person include:
```
Name: Bobby
Age: 25
Job: Teacher
Married: Yes
```

In [ ]:
person = {
    'Name': 'Bobby',
    ...
}
person

- Print out list of dictionary's keys
- Print out list of dictionary's values

In [ ]:
# Keys
print('Keys:', person.keys())

# Values
print('Values:', ...)

- Change the job of Bobby to **Developer**

In [ ]:
...
person

- Now, try to access an invalid key...

In [ ]:
print(person['Hair color'])

Because the 'Hair color' is not declared in the dictionary so it will raise an error.

To deal with this issue, use `get(key, default_value)` method to get the value of a key. If the key is not declared, it will return a `default_value`.

Try again, get Bobby's hair color and return 'Unknown' for `default_value`.

In [ ]:
person.get(..., ...)

## 1.5. Loop

Use a `for` loop to print out 9 multiplication tables (from 1 to 9), with each table separated by an empty line.

Example format for a table with number 9:
```
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
```
**Hint: use two nested loops**

In [ ]:
...

# 2. Advanced

***Given a string s consisting of words and spaces, return the the last word and its length in the string.***

***A word is a maximal substring consisting of non-space characters only.***

***Output format: a string like `"[last word]:[length of last word]"`***

**Example 1:**

Input: s = "Hello World"

Output: World:5

Explanation: The last word is "World" with length 5.

**Example 2:**

Input: s = "   fly me   to   the moon  "

Output: moon:4

Explanation: The last word is "moon" with length 4.

**Example 3:**

Input: s = "luffy is still joyboy"

Output: joyboy:6

Explanation: The last word is "joyboy" with length 6.

In [21]:
def find_maximal_substring(s):
    ...

Now, test your function...

In [ ]:
# Run this cell without modifying anything
str1 = "  Python  reads and  writes   very similarly to standard     English  "
print(find_maximal_substring(str1))